#main-page {
    height: 25px;
    width: 375px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}

#next-page {
    height: 25px;
    width: 375px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #af111c;
    display: none;
}

#startButton {
    color: white;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
}

#backpage {
    color: white;
    border-radius: 15px;
}

.maincontent,
.nextcontent {
    padding-top: 20px;
    display: none;
}

a.back {
    font-family: 'Lato';
    font-size: 20px;
    color: #dfdfdf;
    text-decoration: none;
    text-align: center;
    width: 20%;
    margin: 25px auto 30px auto;
    display: block;
}

a.mainlink,
a.nextlink {
    font-family: 'Lato';
    border: 3px solid #fff;
    padding: 15px 10px;
    display: block;
    text-align: center;
    margin: 25px auto;
    width: 13%;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;

}

a.mainlink:hover,
a.nextlink:hover {
    background: #000;
    color: #575757;
}
